fieldset {
    width: 400px;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

legend {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.required {
    color: red;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input#address {
    width: calc(80% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input#state {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input#emailid {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
